<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="org.jaudiotagger.audio.flac" level="WARN" />
    <logger name="be.tarsos.transcoder" level="WARN" />

    <root level="">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>